.Menu {
    background-color: #FCF6F5FF;
    margin: 1vh 1.5vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.501);
    border-radius: 10px;
    padding: 1vw;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: flex-start;
    padding-top: 5vh;
}

.Menu-Item {
    width: 90%;
    padding: 0.4vw 0.6vw;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Menu-Item:hover {
    cursor: pointer;
    background-color: #F2E9E8FF;
    border-radius: 8px;
}